<div class="container">
    <div class="row">

        <div class="col-md-4 mx-auto mt-5" style="padding: 0px;">

            <div class="card  shadow-lg login-wrap" style="text-align: center; border-radius: 20px; ">
                <div class="card-body login-html" style="border-radius: 20px;">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"><a routerLink="/login">login</a> </label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"><a routerLink="/signup">REGISTRO</a> </label>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
                        <div class="group mb-3 mt-3 ">
                            <span class="label py-3" id="basic-addon1">
                           <i class="far fa-envelope "></i><i class="fas fa-at mx-2"></i> EMAIL</span>
                            <input type="text" class="input form-control" placeholder="Email" formControlName="email" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="group mb-3 mt-3">
                            <span class="label py-3" id="basic-addon1"><i class="fas fa-lock mx-2"></i>PASSWORD</span>
                            <input type="password" class="input form-control" placeholder="Password" formControlName="password" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="group">
                            <button type="submit" class="button" style="width: 100%;">INICIAR SESIÓN</button>
                        </div>



                    </form>

                    <a routerLink="/signup" class="nav-link" style="color: silver;">¿Aún no tienes una cuenta?</a>
                    <div class="form-group mt-3 mb-3">
                        <button (click)="googleSignin()" type="button" class="btn" style=" background: #fff; border-radius: 10px;"> <img src="../../assets/buscar.svg" alt="google" width="25px" height="25px"> <strong style="font-family: Arial, Helvetica, sans-serif;">Iniciar sesión con GOOGLE</strong> </button>
                    </div>


                    <!-- Button trigger modal -->
                    <a class=" mt-5" style="color: rgb(18, 220, 246); cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">Olvidé mi contraseña</a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header" style="background: rgb(10, 126, 221);">
                                    <h5 class="modal-title text-light" id="exampleModalLabel">REESTABLECER CONTRASEÑA</h5>
                                    <button type="button" style="background: none; border: none;" class="text-light" data-bs-dismiss="modal" aria-label="Close"> <i class="fal fa-times-circle fa-2x"></i></button>
                                </div>
                                <div class="modal-body">
                                    <div class="group input">
                                        <label>Escribe tu correo para reestablecer la contraseña</label>
                                        <input required type="text" placeholder="Escribe tu correo" class="form-control" [(ngModel)]="correo">
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-primary" (click)="resetPass()">Enviar correo de reestablecimiento</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto mt-5" style="width: auto;">
            <h4 class="text-center">KALLPA SKINS STORE <img src="../../assets/logo_kallpa.png" width="40px" height="40px" alt="image" style="border-radius: 35%;"></h4>

            <h4 class="text-center">
                Estimado cliente, bienvenido a nuestro sitio web.
            </h4>
            <div>
                <p>
                    Si aún no está afiliado en nuestro sitio web puede ser parte de nosotros
                    <strong><a routerLink="/signup" class="text-primary">aquí</a></strong>.
                </p>
            </div>
            <div>
                <p>
                    si eres miembro de nuestra empresa por favor inicia sesión, esto con el fin de procesar tus compras de manera segura. <br> Ademas al ser parte de nuestra empresa usted puede acceder a promociones exclusivas para miembros de nuestra
                    <br>comunidad.
                    <br><br>

                </p>
            </div>

        </div>
    </div>
</div>
