.quantity-style {
    text-align: center;
    min-width: 38px;
    max-width: 38px;
}

.quantity-wrapper {
    width: 40px;
}

.inpt {
    width: 40px;
}

.rastroClick{
    border: none;
}
.rastroClick:focus{
    
    border: none;
    outline: 20px;
}