<div style="display: inline-block; background: rgb(255, 254, 254); border-radius: 20px; border: solid silver 1px;">
    <!--btn --->
    <label class=" quantity-wrapper" style=" border-right: solid silver 1px;
    border-radius: 20px 0px 0px 20px;">
        <label>
    <button type="button"  data-type="minus" (click)="handleMinus()" (click)="addNewItem(newItem.value)">
      <i class="fal fa-minus" style="color: rgb(104, 103, 103);"></i>
    </button>
    </label>

    </label>
    <!--input-->
    <label class="inpt" style="background:rgb(255, 255, 255) ;">
        <label>
    <input readonly type="text" name="quant[2]"  value="1" [(ngModel)]="value" min="0" max="15" style="
    border: none; font-size: 15px;" #newItem>
    </label>
    </label>

    <!--btn +-->
    <label class="quantity-wrapper" style=" border-left: silver solid 1px;
    border-radius: 0px 20px 20px 0px;">
      <label>
        <button type="button"  data-type="plus" data-field="quant[2]" (click)="handlePlus()" (click)="addNewItem(newItem.value)">
          <i class="fal fa-plus" style="color: rgb(104, 103, 103);"></i>
        </button>
        </label>
    </label>
</div>
