.card-body{
    text-align: center;
}
#total{
    margin-left: 3vw;
    margin-right: 3vw;
}
#totaltitulo{
    margin-right: 1.5vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media screen and (max-width:769px) {
    .card-body{

    }
    .col-md-3{
        width: 20%;
        height: auto;
    }
    .col-6{
        width: 60%;
        height: auto;
    }
}