<div class="container" style="position: relative; justify-content: center; text-align: center;">
    <p class="cont" style="left: 48%;     margin-bottom: -150px; box-sizing: border-box;">
        <img [src]="user['photoURL'] == null ? '../../assets/profile_default.jpg' : user['photoURL']" alt="profileImage" height="120px" width="120px" style="border-radius: 100%; border: solid 1px; margin: 0px; padding: 0px;">
    </p>
    <h2 style="font-size: 120%; text-align: center; margin-top: 150px; margin-bottom: -130px; color: white; position: relative;">
        {{user['displayName'] == null ? 'DESCONOCIDO' : user['displayName']}}
    </h2>
    <p style="text-align: center; margin-top: 150px; margin-bottom: -250px; color: white; position: relative;">
        {{user['email'] == null ? 'DESCONOCIDO' : user['email']}}
    </p>
</div>
<div class="container ">
    <div class="card" style="background: silver; border: none;"></div>

    <div class="card-header bg-secondary reponsive1" style="box-sizing: border-box; padding: 7.625em 5.625em 1.75em; margin-top: 8.5rem; border-radius: 30px 30px 0px 0px;">

        <div>
            <div style="display: flex;" class="justify-content-between res">
                <ul class="nav-item" style="display: block; width: 45%;">
                    <li class="nav-link text-light" style="display: block;">
                        <div>
                            <label style="color: rgb(207, 203, 203); margin-top: 25px;">Correo</label>
                        </div>
                        <div style="font-size: 100%; border-bottom: solid 1px; width: 100%;">
                            {{user['email'] == null ? 'DESCONOCIDO' : user['email']}}
                        </div>
                    </li>
                </ul>
                <ul class="nav-item" style="display: block; width: 45%;">
                    <li class="nav-link text-light" style=" padding-right: 25px; ">
                        <div>
                            <label style="color: rgb(207, 203, 203);">Password</label>
                        </div>
                        <div style="font-size: 100%; border-bottom: solid 1px; width: 100%;">
                            *********************
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body bg-secondary" style="border-radius: 0px 0px 30px 30px;">

        <div class="container justify-content-center">
            <button type="button" class="btn btn-primary mx-5 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 20px;"> ACTUALIZAR MIS DATOS</button>
        </div>
        <div class="card-header bg-secondary">

        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualiza tus nombres</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--end MOdal-->
</div>