@media screen and (max-width:769px) {
    .card-body{

    }
    .col-md-5{
        width: 40%;
        height: auto;
    }
    .col-md-7{
        width: 60%;
        height: auto;
    }
    .col-12{
        width: 60%;
        height: auto;
    }
    .col-6{
        width: 40%;
        height: auto;
    }
}