  <div class="card mb-3" style="max-width: 540px; padding: 10px;">
    <div class="row ">
      <div class="col-md-5">
        <img data-src={{cartItem.imgUrl}} class="img-fluid">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div class="imaytex" style="display: flex; align-items: center; text-align: center;">
            <h5 id="nombreproducto" class="card-img-top" style=""><b>{{cartItem.nombre}}</b></h5>
          </div>
          <div style="text-align: center; margin: 10px;">
            <app-spin-item style="margin-right: 7px;" (cantidadInfo)="addItem($event)"></app-spin-item>
          </div>
          <div class="row">
            <div class="col-12 col-md-8" style="display: flex; align-items: center; padding:5px; text-align: center;">
              <h6 id="preciounitario" class="card-text">{{(calcularTotal()) | currency:'PEN':'S/':'1.2-2'}}</h6>
            </div>
            <div class="col-6 col-md-4" style="display: flex; align-items: center;  padding:5px; text-align: center;">
              <button id="btn" type="button" class="btn btn-danger" (click)="quitarCartItem()"><i class="fas fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>