<head>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<body>

    <div style="padding: 0;
margin: 0;
width: 100%;
z-index: 100;
position: fixed;">

        <app-mainnav-bar></app-mainnav-bar>
        <app-shopping-cart></app-shopping-cart>
    </div>

    <div style="margin-top: auto;">
        <div>
            <a class="nav-link">hola</a>
            <a class="nav-link xd" style="padding-bottom: 0px;">hola</a>
        </div>



        <router-outlet></router-outlet>
        
        <app-footer></app-footer>