<div class="container">
    <div class="row">
        <h1 style="text-align: center; text-transform:uppercase;">
            videos sobre dudas del consumidor
        </h1>
        <div class="col-md-4" *ngFor="let i of [0,1,2,3,4,5]">
            <div class="card text-white mt-3" style="background: #323232; border-radius: 15px;">

            <div class="px-3 py-2">
                <h6 style="text-transform:uppercase;">
                    ¡cómo instalar el software de compatibilidad?
                </h6>
            </div>

            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/ebXbLfLACGM" style="border-radius: 0px 0px 15px 15px;" title="YouTube video" allowfullscreen></iframe>
            </div>
          
            </div>

        </div>
        
    </div>
    
</div>